@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-main-background: #0B0912;
  --clr-accent-primary: #BB883A;
  --clr-accent-primary-opacity-4: rgba(187, 136, 58, 0.4);
  --clr-header: #0B0912;

  --clr-accent-red: #742F2C;
  /* --clr-light-100: #FBE7C3; */
  --clr-light-100: #e7d1aa;
  --clr-search-background: #161223;

  --background-overlay: #0D0B15;
  --max-width-page: 1700px;
}

.page-wrapper {
  background: var(--clr-header);
  width: 100%;
  margin: 0 auto;
}

.body-background {
  background: var(--clr-main-background);
}

.hero-page-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
  width: 100%;
  height: calc(100vh - 68px);
  max-height: 900px;
  min-height: 500px;
}

.hero-page-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(13,11,21);
  background: linear-gradient(90deg, rgba(13,11,21,0.95) 0%, rgba(13,11,21,0.81) 20%, rgba(13,11,21,0.20) 100%);
  z-index: 2;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  width: 100;
  height: 100%;
  background: var(--background-overlay);
  mix-blend-mode: soft-light;
  z-index: 2;
}

.hero-page-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-overlay);
  mix-blend-mode: hue;
  z-index: 3;
}

.background-image-one {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* filter: grayscale(95%); */
}

@media (min-width: 1600px) {
  .background-image-one {
   object-fit: cover;
  }
}

@media (max-width: 1100px) {
  .hero-page-wrapper{
    max-height: 700px;
  }
  
  .background-image-one {
    /* width: auto; */
    /* height: 100%; */
    object-fit: cover;
    object-position: 68% 50%;
  }
}

@media (max-width: 800px) {
  .hero-page-wrapper {
    max-height: 600px;
  }
}

@media (max-width: 500px) {
  .hero-page-wrapper {
    height: calc(100vh - 100px);
    /* max-height: 500px; */
  }
}

.hero-wrapper {
  position: relative;
  z-index: 4;
  width: calc(100% - 4rem);
  max-width: 1500px;
  margin: 0 auto;
}

.inner-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: max(10%, 30px);
}

.hero-heading {
  text-wrap: balance;
  color: var(--clr-accent-primary);
  font-size: 40px;
  line-height: 1.2;
}

.hero-subtext {
  max-width: 40ch;
  color: var(--clr-light-100);
  font-size: 20px;
}

.hero-btn {
  border-radius: 5px;
  padding: 0.3rem 0;
  width: 100%;
  max-width: 330px;
  margin-top: 2rem;
  background-color: var(--clr-accent-red);
  border: 1px solid var(--clr-accent-red);
  color: var(--clr-light-100);
  font-size: clamp(14px, 4vw + 0.2rem, 20px);
  font-family: inherit;
  text-align: center;
  transition: all 100ms ease-in;
}

.hero-btn:hover {
  background: var(--clr-main-background);
  border: 1px solid var(--clr-accent-primary);
}

@media (max-width: 1100px) {
  .hero-heading {
    font-size: clamp(28px, 4vw + 5px, 40px);
  }

  .hero-subtext { 
    font-size: clamp(16px, 3vw + 2px, 20px);
  }
}

@media (max-width: 700px) {
  .hero-wrapper {
    width: calc(100% - 3rem);
  }

  .hero-btn {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .hero-wrapper {
    width: calc(100% - 2rem);
  }

  .hero-page-wrapper::before {
    background: linear-gradient(90deg, rgba(13,11,21,0.95) 0%,
                                    rgba(13,11,21,0.8) 15%, 
                                    rgba(13,11,21,0.20) 100%);
  }

  .inner-hero {
    gap: 1.4rem;
    margin-top: max(25%, 80px);
  }
}

@media (max-width: 450px) {
  .hero-btn {
    max-width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .hero-btn {
    /* margin-top: 0rem; */
  }
}

.section-title {
  padding-bottom: 3rem;
  color: var(--clr-light-100);
  font-size: clamp(20px, 3vw + 0.5rem,28px);
}

.featured-brand-card-container {
  place-self: center;
  width: 350px;
  height: 350px;
}

.featured-brands-wrapper {
  width: calc(100% - 4rem);
  max-width: 1700px;
  margin: 0 auto;
  padding: 3rem 0;
}

.featured-brands-container {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  justify-content: space-between;
}

.featured-brand-card  {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid var(--clr-accent-primary);
  border-radius: 5px;
  overflow: hidden;
}

.store-name {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--clr-light-100);
  font-size: clamp(14px, 3vw + .5rem, 1.25rem);
  font-family: var(--font-cinzel);
}

.card-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.featured-brand-card::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(23, 19, 38, 0.95) 0%, rgba(23, 19, 38, 0.85) 20%, rgba(23, 19, 38,0.0) 40%); ;
}

@media (max-width: 1550px) {
  .featured-brands-container {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 350px);
    row-gap: 3rem;
  }
}

@media (max-width: 1200px) {
  .featured-brands-container {
    grid-template-columns: repeat(2, 350px);
    justify-content: space-evenly;
  }
}

@media (max-width: 830px) {
  .featured-brands-container {
    grid-template-columns: repeat(2, 325px);
    grid-template-rows: repeat(2, 1fr);
  }

  .featured-brand-card-container {
    width: 325px;
    height: 325px;
  }
}

@media (max-width: 750px) {
  .featured-brands-wrapper {
    padding: 2rem 0;
  }

  .section-title {
    padding-bottom: 2rem;
  }

  .featured-brands-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); 
  }

  .featured-brand-card-container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 700px) {
  .featured-brands-wrapper {
    width: calc(100% - 3rem);
  }
}

@media (max-width: 500px) {
  .featured-brands-wrapper {
    width: calc(100% - 2rem);
  }

  .featured-brands-container {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
  }

  .featured-brand-card-container {
    width: 100%;
    height: 500px;
  }

  .featured-brand-card-container {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 400px) {
  .section-title {
    /* padding-bottom: 1rem; */
  }
  .featured-brands-container {
    row-gap: 2rem;
  }
  .featured-brand-card-container {
    /* height: 275px;
    width: 275px; */
    /* row-gap: 0rem; */
  }
}

@media (max-width: 350px) {
  .featured-brand-card-container {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .section-title {
    padding-bottom: 1rem;
  }
}