@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-main-background: #0B0912;
  --clr-accent-primary: #BB883A;
  --clr-accent-primary-opacity-4: rgba(187, 136, 58, 0.4);
  --clr-header: #0B0912;

  --clr-accent-red: #742F2C;
  /* --clr-light-100: #FBE7C3; */
  --clr-light-100: #e7d1aa;
  --clr-light-200: #e2dfdc;
  --clr-search-background: #161223;

  --background-overlay: #0D0B15;
  --max-width-page: 1700px;

  --border-radius: 5px;
}

.page-wrapper {
  background: var(--clr-header);
  width: 100%;
  margin: 0 auto;
}

.body-background {
  background: var(--clr-main-background);
  
}

.no_scroll_on_overlay {
  overflow: hidden;
}

.hero-page-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
  width: 100%;
  height: calc(100vh - 68px);
  max-height: 900px;
  min-height: 500px;
}

.hero-page-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(13,11,21);
  background: linear-gradient(90deg, rgba(13,11,21,0.95) 0%, rgba(13,11,21,0.81) 20%, rgba(13,11,21,0.20) 100%);
  z-index: 2;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  width: 100;
  height: 100%;
  background: var(--background-overlay);
  mix-blend-mode: soft-light;
  z-index: 2;
}

.hero-page-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-overlay);
  mix-blend-mode: hue;
  z-index: 3;
}

.background-image-one {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* filter: grayscale(95%); */
}

@media (min-width: 1600px) {
  .background-image-one {
   object-fit: cover;
  }
}

@media (max-width: 1100px) {
  .hero-page-wrapper{
    max-height: 700px;
  }
  
  .background-image-one {
    /* width: auto; */
    /* height: 100%; */
    object-fit: cover;
    object-position: 68% 50%;
  }
}

@media (max-width: 800px) {
  .hero-page-wrapper {
    max-height: 600px;
  }
}

@media (max-width: 500px) {
  .hero-page-wrapper {
    height: calc(100vh - 100px);
    /* max-height: 500px; */
  }
}

.hero-wrapper {
  position: relative;
  z-index: 4;
  width: calc(100% - 4rem);
  max-width: 1500px;
  margin: 0 auto;
}

.inner-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: max(10%, 30px);
}

.hero-heading {
  text-wrap: balance;
  color: var(--clr-accent-primary);
  font-size: 40px;
  line-height: 1.2;
}

.hero-subtext {
  max-width: 40ch;
  color: var(--clr-light-100);
  font-size: 20px;
}

.hero-btn {
  border-radius: 5px;
  padding: 0.3rem 0;
  width: 100%;
  max-width: 330px;
  margin-top: 2rem;
  background-color: var(--clr-accent-red);
  border: 1px solid var(--clr-accent-red);
  color: var(--clr-light-100);
  font-size: clamp(14px, 4vw + 0.2rem, 20px);
  font-family: inherit;
  text-align: center;
  transition: all 100ms ease-in;
}

.hero-btn:hover {
  background: var(--clr-main-background);
  border: 1px solid var(--clr-accent-primary);
}

@media (max-width: 1100px) {
  .hero-heading {
    font-size: clamp(28px, 4vw + 5px, 40px);
  }

  .hero-subtext { 
    font-size: clamp(16px, 3vw + 2px, 20px);
  }
}

@media (max-width: 700px) {
  .hero-wrapper {
    width: calc(100% - 3rem);
  }

  .hero-btn {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .hero-wrapper {
    width: calc(100% - 2rem);
  }

  .hero-page-wrapper::before {
    background: linear-gradient(90deg, rgba(13,11,21,0.95) 0%,
                                    rgba(13,11,21,0.8) 15%, 
                                    rgba(13,11,21,0.20) 100%);
  }

  .inner-hero {
    gap: 1.4rem;
    margin-top: max(25%, 80px);
  }
}

@media (max-width: 450px) {
  .hero-btn {
    max-width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .hero-btn {
    /* margin-top: 0rem; */
  }
}

.section-title {
  padding-bottom: 3rem;
  color: var(--clr-light-100);
  font-size: clamp(20px, 3vw + 0.5rem,28px);
}

.featured-brand-card-container {
  place-self: center;
  width: 350px;
  height: 350px;
}

.featured-brands-wrapper {
  width: calc(100% - 4rem);
  max-width: 1700px;
  margin: 0 auto;
  padding: 3rem 0;
}

.featured-brands-container {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  justify-content: space-between;
}

.featured-brand-card  {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid var(--clr-accent-primary);
  border-radius: 5px;
  overflow: hidden;
}

.store-name {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--clr-light-100);
  font-size: clamp(14px, 3vw + .5rem, 1.25rem);
  font-family: var(--font-cinzel);
}

/* .card-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
} */

.featured-brand-card::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(23, 19, 38, 0.95) 0%, rgba(23, 19, 38, 0.85) 20%, rgba(23, 19, 38,0.0) 40%); ;
}

@media (max-width: 1550px) {
  .featured-brands-container {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 350px);
    row-gap: 3rem;
  }
}

@media (max-width: 1200px) {
  .featured-brands-container {
    grid-template-columns: repeat(2, 350px);
    justify-content: space-evenly;
  }
}

@media (max-width: 830px) {
  .featured-brands-container {
    grid-template-columns: repeat(2, 325px);
    grid-template-rows: repeat(2, 1fr);
  }

  .featured-brand-card-container {
    width: 325px;
    height: 325px;
  }
}

@media (max-width: 750px) {
  .featured-brands-wrapper {
    padding: 2rem 0;
  }

  .section-title {
    padding-bottom: 2rem;
  }

  .featured-brands-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); 
  }

  .featured-brand-card-container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 700px) {
  .featured-brands-wrapper {
    width: calc(100% - 3rem);
  }
}

@media (max-width: 500px) {
  .featured-brands-wrapper {
    width: calc(100% - 2rem);
  }

  .featured-brands-container {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
  }

  .featured-brand-card-container {
    width: 100%;
    height: 500px;
  }

  .featured-brand-card-container {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 400px) {
  .section-title {
    /* padding-bottom: 1rem; */
  }
  .featured-brands-container {
    row-gap: 2rem;
  }
  .featured-brand-card-container {
    /* height: 275px;
    width: 275px; */
    /* row-gap: 0rem; */
  }
}

@media (max-width: 350px) {
  .featured-brand-card-container {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .section-title {
    padding-bottom: 1rem;
  }
}

/* Cart Modal */
.modal_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 999;
}

.modal-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  background:#171425 ;
  height: 100vh;
  height: 100dvh;
  width: 520px;
  transition: width 400ms ease-in-out;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 1000;
  transform: translateX(50%);
  /* transition: right 1s ease-in-out; */
  animation: animateModal 300ms ease-in-out forwards;
}

@keyframes animateModal {
  from {
    transform: translateX(100%)
  }
  to {
    transform: translateX(0%)
  }
}

.modal-wrapper.modal-wrapper-open {
  right: 0;
}

.modal_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem 0 1rem 1rem;
}

.modal_container__cart_empty {
  flex: 1 1 auto; 
  position: relative;
  overflow: auto;
  margin-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.modal_container__cart_empty p {
  color: var(--clr-light-100);
  
}

.modal_container__cart_empty button {
  /* display: block; */
  
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 300px;
  background: #43AA8B;
  border: 1px solid #43AA8B;
  border-radius: 5px;
  color: var(--clr-main-background);
  font-size: 1rem;
  font-family: var(--roboto);
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.modal_container__cart_empty button:hover {
  background:  var(--clr-main-background);
  color: var(--clr-light-100);
}

.cart_header__items {
  font-size: 1.5rem;
  color: var(--clr-light-100);
  line-height: 1.1;
}

.modal_btn__close {
  padding: 1px 0 5px 0;
  color: var(--clr-accent-primary);
  font-size: 2rem;
}

.cart_product_card {
  display: flex;
  column-gap: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  background: #2A2444;
}

.cart_company {
  color: var(--clr-light-100);
  font-size: 12px;
}

.cart_Product__name {
  color: var(--clr-accent-primary);
  font-size: 1rem;
  font-family: var(--font-cinzel);
  line-height: 1;
}

.cart_btn__remove {
  align-self: flex-start;
  padding: 4px 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--clr-light-100);
  font-size: 12px;
  transition: all 100ms ease-in;
}

.cart_btn__remove:hover {
  border-color: var(--clr-accent-primary);
  color: var(--clr-accent-primary);
}

.cart_label__quantity {
  margin-right: 10px;
  color: var(--clr-light-100);
  font-size: 16px;
}

.cart_quantity__select {
  padding: 0.2rem 1.5rem;
  background: var(--clr-light-100);
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  text-align: center;
}

.cart_product_bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin-top: auto;
}

.cart_price_of_product {
  padding-right: 0.5rem;
  color: var(--clr-accent-primary);
  font-size: 1rem;
}

.cart_product_card + .cart_product_card {
  margin-top: 1rem;
}

.cart_product_card img {
  max-width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 5px;
}

.cart_products_container {
  flex: 1 1 auto; 
  position: relative;
  overflow: auto;
  margin-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.cart_products_container::after {

}

.cart_top_container {
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.cart_bottom_wrapper {
  position: relative;
  flex: 0 0 auto;
  margin: 0 0.8rem 0 0;
  padding: 2rem 0 1rem 0;
}

.cart_bottom_wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--clr-accent-primary);
}

.cart_bottom_subtotal__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--clr-light-100);
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.cart_btn__checkout {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background: #43AA8B;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--clr-main-background);
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 900px) {
  .modal-wrapper {
    width: 100%;
  }
}

@media  (max-width: 600px) {
  .modal-wrapper {
    padding: 1rem 0.5rem 1rem 0rem;
  }
  
  .modal_container {
    padding: 0rem 0 1rem 1rem;
  }

  .cart_header__items {
    font-size: 1.2rem;
  }

  .modal_btn__close {
    font-size: 1.6rem;
    padding: 8px 0 5px 0;
  }

  .cart_products_container {
    margin-top: 1rem;
  }

  .cart_product_card img {
    width: 100px;
    height: 100px;
  }

  .cart_company {
    font-size: 10px;
  }

  .cart_btn__remove {
    margin-top: 3px;
    padding: 4px 0.5rem;
    font-size: 10px;
  }

  .cart_Product__name,
  .cart_label__quantity,
  .cart_quantity__select,
  .cart_price_of_product {
    font-size: 0.875rem;
  }

  .cart_quantity__select {
    padding: 0.15rem 1rem;
  }

  .cart_btn__checkout {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 600;
  }

  .cart_bottom_wrapper {
    margin: 0 0.8rem 0 0;
    padding: 1.2rem 0 0rem 0;
  }

  .cart_bottom_subtotal__container {
    font-size: 0.875rem;
    padding-bottom: 1.3rem;
  }
}

@media (max-width: 360px) {
  .cart_product_bottom_container {
    flex-wrap: wrap;
    row-gap: 0.5rem;
  }
}