.headerMainWrapper {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--clr-header);
  }

  .headerContainerMain {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 4rem);
    margin: 0 auto;
    padding: 0 2rem 0rem 2rem;
  }

  .headerMainWrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ECE6DA;
    opacity: 0.05;
  }

  .headerLogoMain {
    padding: 1rem 0;
    color:  var(--clr-accent-primary);
    font-size: clamp(16px, 3vw + 0.5rem, 24px); 
    font-family: var(--font-cinzel);
    text-decoration: none;
    white-space: nowrap;
  }

  .headerContainerNav {
    display: flex;
    align-items: center;
  }

  .navLink {
    padding: .4rem 1rem;
    border: 2px solid transparent;
    color:  var(--clr-accent-primary);
    font-family: var(--font-roboto);
    text-decoration: none;
  }

  .navLink:hover {
    background: var(--clr-accent-red);
    border: 2px solid var(--clr-accent-red);
    border-radius: 5px;
    color: var(--clr-light-100); 
  }

  /* Search Bar */
  .searchWrapper {
    margin-left: auto;
    padding-right: 1rem;
  }

  .searchContainer {
    position: relative;
  }

  .searchContainer input {
    min-width: 300px;
    border-radius: 5px;
    background-color: var(--clr-search-background);
    padding: 0.3rem 2rem .3rem 0.5rem ;
    border: 1px solid var(--clr-accent-primary-opacity-4);
    color: var(--clr-light-100);
    font-family: inherit;
  }

  .searchContainer button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--clr-light-100);
  }

  @media (max-width: 800px) {
    .headerContainerMain {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      width: calc(100% - 2rem);
      padding: 0.3rem 0.3rem 0.7rem 0.3rem; 
    }

    .headerLogoMain {
      padding: 0.2rem 0;
    }

    .searchWrapper {
      grid-column: 1/3;
      grid-row: 2/3;
      margin-left: 0;
      width: 100%;
      padding-right: 0rem;
    }

    .searchContainer input {
      min-width: 100%;
    }

    .headerContainerNav {
      display: flex;
      align-items: center;
      justify-self: right;
    }

    .navLink {
      padding: 0rem 0.5rem;
    }
  }